<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">


  <application>

    <service
      android:exported="false"
      android:name="android.zero.studio.lsp.kotlin.core.KotlinLspService" />

    <!-- <activity -->
      <!-- android:exported="false" -->
      <!-- android:name="android.zero.studio.terminal.api.file.FileReceiverActivity" -->
      <!-- /> -->

  </application>

</manifest>
